langchain 
langchain-openai
python-dotenv
langchain-groq   
langchain-google-genai  
langgraph
fastapi
uvicorn
pydantic
langchain-deepseek
pdfplumber
python-multipart
faiss-cpu 
sentence-transformers 
pytesseract
pillow
pdf2image
sentence-transformers 
faiss-cpu
pymongo